@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    font-family: Arial;
    background-color: #e9e3e3;
}



/* cart */
#nav {
    display: flex;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    justify-content: space-between;
}



#nav .logo img {
    width: 12vw;
   
    margin-top: 15px; /* 수정 */
    margin-left: 0px;  /* 수정 */
   
}

#cart {
    width: 75vw; /* 확대축소시 보여지는 여백의 70% */    
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:12vw;  /* 수정 */
    padding-left: 4vw; /* 수정 */
}

#cart button#clear-cart {
    font-size: 1.5vw;
    /* 추가 */
    width: 10vw;
    /* 수정 */
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0 20px 0;
    position: absolute;
    right: 40px;
    top: 22px;
}



#cart button#clear-cart:hover {
    background-color: rgb(91, 25, 25);
}

#cart ul#clear-items {
    list-style: none;
    padding: 0;
}

/* 제품 */
.product-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    /* 최소, 최대 */
    /* grid-template-columns 열의 크기 정의 */
    /* auto-fill - 컨테이너에 맞춰 자동으로 열 채움 */
    /* minmax - 최소와 최대 사이즈 정의 함수 */
    /* fr - fraction - 사용 가능한 공간을 '동등한 비율'로 나눔을 의미 */
    /* 1fr - 첫번째 열 / 2fr - 두번째 열 */
}

.product-container .product {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* 제품이미지 */
.product-container .product img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* 제품내용 */
.product-container .product .product-details {
    padding: 20px;
    background-color: #f6f2f2;
}

.product-details h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: normal;
    overflow: hidden;
    /* 마스크처리 */
    text-overflow: ellipsis;
    /* 넘칠 때 점으로 표시 */
    white-space: nowrap;
    /* 텍스트 줄 바꿈 방지 */
}

.product-details p.price {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 20px;
}

.product-details p.price span.red {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.product-details p.price span {
    font-weight: normal;
    font-size: 15px;
    color: #999;
}

.product-details button {
    background-color: rgb(30, 163, 34);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 2px;
}

.product-details button:hover {
    background-color: rgb(22, 80, 22);
}

.product-details button.like-button {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
}

.product-details button.like-button:hover {
    background-color: rgb(86, 26, 26);
}

.product-details button.unlike-button {
    background-color: #999;
    color: #fff;
}


@media (max-width: 760px) {
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        /* 최소, 최대 */

    }

    #nav .logo img {
        width: 25vw;
        /* 수정 */

    }


    #cart button#clear-cart {
        font-size: 2.4vw;
        /* 추가 */
        width: 15vw;
        /* 수정 */
        top:33px;

    }


}